@value colors: "../../utils/style/colors.module.css";
@value colorWhite, colorPrimary from colors;

@value sizes: "../../utils/style/sizes.module.css";
@value textParagraphePhone, textTag, textTagPhone from sizes;


.tagContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: .5rem 0;
}

.tag{
    background-color: colorPrimary;
    color: colorWhite;
    font-size: textTagPhone;
    margin-right: 1rem;
    margin-top: .5rem;
    padding: .3rem 2rem;
    border-radius: .6rem;
    display: block;

    @media only screen and (min-width: 768px) {
        font-size: textTag;
    }
}