@value colors: "../../utils/style/colors.module.css";
@value colorStarsGray from colors;

@value sizes: "../../utils/style/sizes.module.css";
@value textStarsPhone,textStars from sizes;

.rateContainer{
    margin: 1.5rem 0;
    font-size: textStarsPhone;

    > i{
        padding: .3rem;
    }

    @media only screen and (min-width: 768px) {
        font-size: textStars;
    }

}

.starGray{
    color: colorStarsGray;
}