@value colors: "../../utils/style/colors.module.css";
@value colorWhite, colorPrimary, colorStarsGray from colors;

@value sizes: "../../utils/style/sizes.module.css";
@value textTitle, textSubTitlePhone, textStars, textStarsPhone, textParagraphePhone, textParagraphe from sizes;

.sectionInfoContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    color : colorPrimary;
    > div:first-child{
        width: 100%;

        @media only screen and (min-width: 768px) {
            width: 65%;
        }

    }
}

.title{
    font-size: textTitle;
    font-weight: 100;
    margin-bottom: 1rem;

    @media only screen and (min-width: 768px) {
        
    }

}

.subTitle{
    font-size: textSubTitlePhone;
}

.rateAndHostContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;

    @media only screen and (min-width: 768px) {
        flex-direction: column-reverse;
        align-items: end;
        justify-content: center;
        width: 35%;
    }

}

.hostContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    > div:first-child {
        font-size: textParagraphePhone;
        margin-right: 1rem;
        text-align: right;
        font-weight: 500;
    }
    
    > div:last-child {
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
        overflow: hidden;
        > img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    @media only screen and (min-width: 768px) {
        > div:first-child {
            font-size: textParagraphe;
        }
        > div:last-child {
            width: 4rem;
            height: 4rem;
        }
    }

}

.collapseContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    > div{
        width: 100%;
    }

    @media only screen and (min-width: 768px) {
    flex-direction: row;
    gap: 2%;
        > div{
            width: 50%;
        }
    }

}

.starGray{
    color: colorStarsGray;
}