@value colors: "../../utils/style/colors.module.css";
@value colorWhite from colors;

@value sizes: "../../utils/style/sizes.module.css";
@value textParagraphe from sizes;

.linkCard{
    text-decoration: none;
    width: 100%;
    height: 15rem;
    display: flex;
    align-items: end;
    border-radius: .6rem;
    overflow: hidden;
    position: relative;
    text-align: left;
    font-size: textParagraphe;
  
    @media only screen and (min-width: 768px) {
      width: 29%;
      height: 20rem;
    }
}

.imgCover{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.imgFilter{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.7) 0%, rgba(255,255,255,0.3) 100%);
}

.title{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    margin-left: 1rem;
    color: colorWhite;
    font-weight: 100;
}