@value colors: "../../utils/style/colors.module.css";
@value colorWhite, colorPrimary, colorBackground from colors;

@value sizes: "../../utils/style/sizes.module.css";
@value textParagraphe from sizes;

.divContainer{
    width: 100%;
    margin: 1rem 0;
    border-radius: 0 0 .6rem .6rem;
    overflow: hidden;
}

.divHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: colorPrimary;
    color: colorWhite;
    border-radius: .3rem;
    padding: .6rem 1rem;
    cursor: pointer;

    @media only screen and (min-width: 768px) {
        padding: .9rem 1rem;
    }
}

.divBody{
    color: colorPrimary; 
    padding: 1rem;
    text-align: left;
    background-color: colorBackground;
    line-height: 1.5rem;

    > ul{
        list-style: none;
        margin: 0;
        padding: 0;
        > li{
            margin: .3rem 0;
        }
    }

}

.animationDown{
    composes: divBody;
    animation: heightDown 200ms both;
    transform-origin: top;
    animation-fill-mode: backwards;
}

.animationUp{
    composes: divBody;
    animation: heightUp 200ms both;
    transform-origin: top;
    animation-fill-mode: forwards ;
}

@keyframes heightDown {
    from {
        transform: scaleY(0);
    }
  
    to {
        transform: scaleY(100%);
    }
}

@keyframes heightUp {
    from {
        transform: scaleY(100%);
    }
  
    to {
        transform: scaleY(0);
    }
}