@value sizes: "../../utils/style/sizes.module.css";
@value widthMain from sizes;

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    max-width: widthMain;
    width: 80%;
}

.logo{
    width: 9em;

    @media only screen and (min-width: 768px) {
        width: 10em;
    }
}