@value colors: "../../utils/style/colors.module.css";
@value colorWhite, colorPrimary from colors;

@value sizes: "../../utils/style/sizes.module.css";
@value textLink, textLinkPhone from sizes;

.navContainer{
    display: flex;
    gap: 1rem;
}

.link{
    text-decoration: none;
    color: colorPrimary;
    font-size: textLinkPhone;
    text-transform: uppercase;

    @media only screen and (min-width: 768px) {
        font-size: textLink;
        text-transform: none;
    }

}

.underline{
    composes: link;
    text-decoration: underline;
}