@value colors: "../../utils/style/colors.module.css";
@value colorPrimary from colors;

@value sizes: "../../utils/style/sizes.module.css";
@value textNotFound, textSubTitle, textNotFoundPhone, textSubTitlePhone from sizes;

.titleNotFound{
    font-size: textNotFoundPhone;
    font-weight: 900;
    margin: 5rem 0 1rem 0;  
    
    @media only screen and (min-width: 768px) {
      width: 90%;
      font-size: textNotFound;
    }
}

.spanInstruction{
    font-size: textSubTitlePhone;
    font-weight: 500;
    
    @media only screen and (min-width: 768px) {
      font-size: textSubTitle;
    }
}

.linkHome{
    margin: 13rem 0 5rem 0;
    color: colorPrimary;
    font-size: textLinkPhone;
}